@import "compass/css3";
@import "normalize";


/* BORDER-BOX ALL THE THINGS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* COLORS */

$blue: #d5e1ec;
$cream: #e1d9ce;
$gray: #a7a9a9;
$black: darken($gray,30);
$white: #ffffff;
$yellow: #FFD700;


/* MIXINS */

$padding: 12px;

@mixin clearfix {
	display: inline-block;
	&:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
    }
}

.hidden {
	display: none;
}

/* TYPOGRAPHY */

$sans-serif: Apercu, Helvetica Nueue, Arial, sans-serif;
$serif: serif;

body {
	font-family: $sans-serif;
	background: lighten($cream,12);
}

a {
	text-decoration: none;
	color: lighten($black,20);
	border-bottom: 1px solid $black;
	&:hover {
		color: $black;
	}
}

/* LAYOUT */

main {
	height: 90%;
	width: 100%;
	padding: $padding*2;
	@include clearfix;
}

header {
	@include clearfix;
	display: block;
	text-align: left;
}

.input {
	max-width: 610px;
	margin: 4% auto 0;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.duck {
	position: absolute;
	bottom: 5%;
	right: 2%;
}

/* STYLES */


.logo img {
	width: 100px;
	height: auto;
}

.duck img {
	width: 100px;
	height: auto;
}

.message {
	width: 300px;
	height: 300px;
	overflow-y: scroll;
	color: $black;
	padding: $padding;
	position: relative;
	@include clearfix;
	&.duck {
		background: $yellow;
	}
	&.user {
		background: $white;
	}

}

.duck img {
	max-width: 200px;
	float: right;
	padding-right: $padding;
}

textarea {
	min-height: 200px;
	width: 100%;
	padding: $padding;
	margin: 0 auto;
	font-size: 22px;
	background: $white;
	border: 2px solid $white;
	resize: vertical;
	color: darken($gray,20);
	&:focus {
		outline: none;
		border-color: $gray;
	}
}

input[type='submit'] {
	clear: both;
	margin-top: $padding*2;
	padding: $padding $padding*2;
	border: none;
	@include border-radius($padding/2);
	background: $yellow;
	@include transition(all,.125s);
	&:hover {
		background: darken($yellow,2);
	}
}

footer {
	background: rgba(lighten($blue,5),0.7);
	padding: $padding;
	text-align: right;
	color: $gray;
	font-size: 0.85em;
}