@import "compass/css3";
@import "normalize";


/* BORDER-BOX ALL THE THINGS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* COLORS */

$blue: #d5e1ec;
$gray: #A9B0AD;
$black: darken($gray,30);
$white: #ffffff;
$yellow: #FFD700;


/* UTILITIES */

$padding: 12px;

$footer-height: 70px;

@mixin clearfix {
	display: inline-block;
	&:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
    }
}

.slideDown {
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

@include keyframes(fadeIn) {
  0% { color: transparent; }
  65% { color: inherit; }
  100% { color: transparent; }
}

.hidden {
	visibility: hidden;
}

/* TYPOGRAPHY */

$sans-serif: Apercu, Helvetica Nueue, Arial, sans-serif;
$serif: serif;

body {
	font-family: $sans-serif;
	background: darken($gray,10);
}

a {
	text-decoration: none;
	color: lighten($black,20);
	border-bottom: 1px solid $black;
	&:hover {
		color: $black;
	}
}

/* LAYOUT */

html, body {
  height: 100%;
}

.wrapper {
	max-width: 610px;
	margin-left: auto;
	margin-right: auto;
}

main {
	min-height: 100%;
	width: 100%;
	padding: $padding*2 $padding;
	margin-bottom: -$footer-height;
	&:after {
		content: "";
		display: block;
		height: $footer-height;
	}
}

header {
	display: block;
	text-align: left;
	margin-bottom: $padding;
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}

#message-log, .input, footer p {
	@extend .wrapper;
}

#message-log {
	height: 200px;
	overflow: auto;
}

textarea {
	width: 100%;
	padding: $padding;
	margin: 0 auto;
}

.input {
	margin-top: -180px;
}

footer {
	height: $footer-height;
	padding: $padding;
	width: 100%;
	position: relative;
}

img.duck {
	position: absolute;
	bottom: 40px;
	right: 2%;
	width: 100px;
	height: auto;
	z-index: -1;
}

@media only screen and (min-width: 481px) {
	main {
		padding: $padding*2;
	}
	#message-log {
		height: 258px;
		margin-top: -40px;
	}
	textarea {
		min-height: 200px;
	}
}

/* STYLES */


.logo img {
	width: 100px;
	height: auto;
}

#message-log {
	background: $white;
	border-left: 2px solid;
	border-top: 2px solid;
	border-right: 2px solid;
	border-color: darken($gray,20);
	overflow-y: scroll;
}

.message {
	color: $black;
	padding: $padding;
	position: relative;
	&.duck {
		background: $yellow;
	}
	&.user {
		background: $white;
	}
	&.typing {
		@include animation(fadeIn 2s infinite);
	}
}

.duck img {
	max-width: 200px;
	float: right;
	padding-right: $padding;
}

textarea {
	font-size: 22px;
	background: $white;
	border: 2px solid darken($gray,20);
	resize: vertical;
	color: darken($gray,20);
	&:focus {
		outline: none;
		border-color: $black;
	}
	@include input-placeholder {
	    color: lighten($gray,20);
	    font-style: italic;
	}
}

button {
	clear: both;
	margin-top: $padding*2;
	padding: $padding $padding*2;
	border: none;
	@include border-radius($padding/2);
	background: $yellow;
	@include transition(all,.125s);
	&:hover {
		background: darken($yellow,2);
	}
}

footer {
	background: rgba(lighten($blue,5),0.7);
	color: darken($gray,20);
	font-size: 0.85em;
}
